*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
background-color: #0f172a;
color: #e2E8f0;
line-height: 1.6;
}
.navbar
{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;
background: #1e293b;
position: sticky;
top: 0;
z-index: 100;
}
.logo{
color: #38bdf8;
}
.logo span{
color: #facc15;
}
.nav-links
{
list-style: none;
display: flex;
gap: 25px;
}
.nav-links a
{
color: #e2e8f0;
text-decoration: none;
font-weight: 500;
}
.nav-links a:hover
{
color: #38bdf8;
}
.home
{
display: flex;
align-items: center;
justify-content: space-between;
padding: 100px 50px;
flex-wrap: wrap;
}
.home-content
{
flex: 1;
min-width: 300px;
}
.home-content h1 span
{
color: #38bdf8;
}
/*.home-img
{
width: 280px;
border-radius: 50%px;
border: 3px solid #38bdf8;
}*/
#h1
{
width: 280px;
border-radius: 50%px;
border: 3px solid #38bdf8;
}
.btn
{
display: inline-block;
margin-top: 20px;
padding: 10px 20px;
background: #38bdf8;
color: #0f172a;
text-decoration: none;
border-radius: 5px;
font-weight: 600;
}
.btn:hover
{
background: #facc15;
}
.about, .skills, .projects, .contact
{
padding: 80px 50px;
text-align: center;
}
.skills ul
{
list-style: none;
margin-top: 20px;
}
skills li 
{
margin: 10px;
font-size: 1.1rem;
}
.project-grid 
{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}
.project-card 
{
background: #1e293b;
padding: 20px;
border-radius: 10px;
width: 280px;
text-align: left;
}
.project-card h3 
{
color: #38bdf8;
}
.contact a 
{
color: #38bdf8;
text-decoration: none;
}
.contact a:hover
{
text-decoration: underline;
}
footer
{
background: #1e293b;
padding: 20px;
text-align: center;
font-size: 0.9rem;
color: #94a3b8;
}
@media (max-width: 768px){
.home{
flex-direction: column;
text-align: center;
}
.home-img{
margin-top: 30px;
}
}
button
{
margin-left: 670px;
width: 200px;
height: 40px;
background-color: #facc15;
color: blue;
border: 2px solid black;
margin-top: -20px;
position: relative;
}
